[Unit]
Description=Backlight Follower Daemon
After=multi-user.target

[Service]
ExecStartPre=/usr/bin/modprobe i2c-dev
ExecStart=/usr/local/bin/backlight-follower
KillMode=process

[Install]
WantedBy=graphical.target